.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: calc(12px + 2vmin);
  color: white;
}

.Container{
  margin: 2vmin;
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.ClickableButton{
  margin: 2vmin;
  border: 2px solid white;
  border-radius: 2vmin;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  flex-grow: 1;
  flex-basis: 30%;
  text-align: center;
}

.Cart{
  width: 100%;
  height: 75%;
  text-align: left;
}


ul{
  height: 75%;
}

#totalPrice{
  text-align: right;
}

#buttonContainer{
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.Modal{
  background-color: #282c34;
  color: white;
  padding: 2vmin;
  font-size: calc(2vmin + 14px);
}